.element-cont{
    width: 100%;
    display: flex;
}

.element-container div{
    padding: 1em 0 1em 0;
}

.el {
    width: 40%;
    margin:auto;
    margin-top:10px;
    min-height: 120px;
    border:solid red;
}

.reverse {
    display: flex;
    flex-flow: row wrap-reverse
}

.container-home {
    margin-top: 50px;
}
