.main-admin-panel{
    width: 100%;
    display: flex;
    border:solid;
}

.main-admin-panel-element{
    min-width: 50%;
    max-width: 50%;
    word-wrap: break-word;
}

.element-container{
    width: 90%;
    margin: auto;
    
}

.element-container div{
    padding: 1em 0 1em 0;
}

.element {
    margin-top:10px;
    height: 120px;
    border:solid red;
}

.reverse {
    display: flex;
    flex-flow: row wrap-reverse
}

.container-home {
    margin-top: 50px;
}
