.element-cont{
    width: 100%;
    display: flex;
}

.element-container div{
    padding: 1em 0 1em 0;
}

.el {
    width: 45%;
    margin:auto;
    margin-top:10px;
    min-height: 120px;
    border:solid red;
}
.answers-cont{
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}

.answer{
padding:1em;
overflow-wrap: break-word;

}

.container-home {
    margin-top: 50px;
}

@media (max-width:576px) {

 .answers-cont{
    flex-wrap: wrap;
 }
}